@font-face{
	font-family:'CroissantOne-Regular'; 
	src: url('CroissantOne-Regular.ttf') format('ttf');
	font-weight: normal;
 	font-style: normal;
 	font-family: 'Sprat-RegularMedium';
 	src: url('Sprat-RegularMedium.otf') format('otf');
}

/*Colonne de gauche*/
#colonne-gauche{
	background-color:#941162;
}
.container-fluid{
	color: black;
}
.titre-gauche{
	font-family: 'Sprat-RegularMedium';
	background-color:#F1CAE2;
	color: #941162;
	margin-top: 15px;
	font-size: 20px;
}

/*Photo de profil*/
.image-profil{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
.image-adresse{
	width: 20px;
	height: 20px;
}
.image-telephone{
	width: 20px;
	height: 20px;
}
.image-email{
	width: 20px;
	height: 20px;
}
.image-web{
	width: 20px;
	height: 20px;
}
.image-linkedin{
	width: 20px;
	height: 20px;
}
.image-makeup{
	width: 50px;
	height: 50px;
}
.image-voyage{
	width: 50px;
	height: 50px;
}
.image-musique{
	width: 50px;
	height: 50px;
}
.image-cuisine{
	width: 50px;
	height: 50px;
}
.image-sport{
	width: 50px;
	height: 50px;
}
.image-cinema{
	width: 50px;
	height: 50px;
}
.image-geek{
	width: 50px;
	height: 50px;
}

/*Colonne de droite*/
.text-center{
	color: black;
}
#colonne-droite{
	background-color: white;
	color: black;
}
.image-malette{
	width: 25px;
	height: 25px;
}
.image-crayon{
	width: 25px;
	height: 25px;
}
.image-formations{
	width: 25px;
	height: 25px;
}
.image-point{
	width: 10px;
	height: 10px;
}
.image-dot{
	width: 10px;
	height: 10px;
}
.profil{
	font-size: 15px;
}

h1{
	font-family: 'Sprat-RegularMedium';
	margin:50px;
	padding-top: 20px;
	
}
h2{
	font-family: 'CroissantOne-Regular';
	margin:50px;
	padding-bottom:50px;
}
.titre-droite{
	font-family: 'Sprat-RegularMedium';
	margin:50px;
	padding-bottom: 10px;
	border-bottom: solid #941162;
}
.recommandation{
	padding-left: 40px;
	margin-bottom: 40px;
}
.lignes{
	margin-bottom: 20px;
}
span{
	color:#941162;
}
.loisir-marge{
margin-bottom: 15px;
}