@font-face{
	font-family:'CroissantOne-Regular'; 
	src: url('CroissantOne-Regular.ttf') format('ttf');
	font-weight: normal;
 	font-style: normal;
 	font-family: 'Sprat-RegularMedium';
 	src: url('Sprat-RegularMedium.otf') format('otf');
}


/* Media Smartphone */
@media only screen and (max-width:480px){
.profil{
	margin: 20px 30px 0px 30px;
}	

.marges{
	margin-bottom: 2px;
}
.espacement{
	margin-left: 20px;
	font-size: 14px;
}
body{
	font-size: 12px;
}
.titre-droite{
	font-family: 'Sprat-RegularMedium';
	margin-top:10px;
	margin-bottom:10px;
	margin-right: 0px;
	margin-left: 0px;
	padding-bottom: 10px;
	border-bottom: solid #FFC0CB;
	text-align: center;
}
.recommandation{
	padding-left: 40px;
	margin-bottom: 40px;
	font-size: 12px;
}	
h4{
	font-size: 10px;
	text-align: center;
}
.fa-gamepad,.fa-headphones-alt,.fa-plane{
	padding: 5px;
	color:black;
	font-size: 35px;
	margin: 10px;
}
.contact-bloc{
	text-align: center;
	margin-bottom : 30px;
}
#formation{
	text-align: center;
}
.marges{
	text-align: center;
}
.smartphone{
	display: none;
}
.pointmobile{
	margin-right: 10px;
}
h3{
	text-align: center;
}
.permis{
	margin-bottom: 20px;
}
.loisir-marge{
	margin-bottom: 15px;
	padding-top: 25px;
	height: 100px;
}
}


/* Media Tablettes */
@media only screen and (min-width:481px) and (max-width:1149px){
.profil{
	font-size: 15px;
	margin: 20px 30px 650px 30px;
}
.marges{
	margin-bottom: 20px;
}
.espacement{
	margin-left: 30px;	
}
body{
	font-size: 15px;
}
.titre-droite{
	font-family: 'Sprat-RegularMedium';
	margin:5px;
	padding-bottom: 10px;
	border-bottom: solid #FFC0CB;
}
.recommandation{
	padding-left: 0px;
	margin-left:0px;
	margin-bottom: 40px;
	font-size: 15px;
}	
h4{
	font-size: 15px;
}
.fa-gamepad,.fa-headphones-alt,.fa-plane{
	padding: 5px;
	color:black;
	font-size: 35px;

}
.contact-bloc{
	padding-left: 10px;
	margin-bottom : 30px;
	margin-left: 30px;
}
.smartphone{
	text-align: right;
}
.pointmobile{
	display: none;
}
.loisir-marge{
	margin-bottom: 15px;
	padding-top: 25px;
	height: 100px;
}
}


/* Media PC */
@media only screen and (min-width:1150px){
.profil{
	font-size: 15px;
	margin: 20px 30px 650px 30px;
}
.marges{
	margin-bottom: 20px;
}
.espacement{
	margin-left: 30px;	
}
body{
	font-size: 15px;
}
.titre-droite{
	font-family: 'Sprat-RegularMedium';
	margin:50px;
	padding-bottom: 10px;
	border-bottom: solid #FFC0CB;
	text-align: left;
}
.recommandation{
	padding-left: 40px;
	margin-left:0px;
	margin-bottom: 40px;
	font-size: 15px;
}	
h4{
	font-size: 15px;
}
.fa-gamepad,.fa-headphones-alt,.fa-plane{
	padding: 20px;
	font-size: 35px;
	margin-right: 5px;
	color:black;
}
.contact-bloc{
	padding-left: 10px;
	margin-bottom : 30px;
	margin-left: 30px;
}
.pointmobile{
	display: none;
}
.smartphone{
	text-align: right;
}
.loisir-marge{
	margin-bottom: 15px;
	margin-top:40px;
	padding-top: 25px;
	height: 100px;
}
}


/*Colonne de gauche*/
#colonne-gauche{
	background-color:#FFC0CB;
	padding: 0px;
}
.container-fluid{
	color: black;
}
.titre-gauche{
	font-family: 'Sprat-RegularMedium';
	background-color: black;
	color: #FFC0CB;
	margin-top: 15px;
	font-size: 30px;
}
.image-profil{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.intitule{
	padding-top: 20px;
}






/*Colonne de droite*/
.fa-graduation-cap,.fa-briefcase,.fa-pencil-alt,.fa-circle{
	color: #FFC0CB;
	padding-top: 6px;
}
.far{
	color: #FFC0CB;
	padding-top: 6px;
}

#colonne-droite{
	background-color: white;
	color: black;
}
h1{
	font-family: 'Sprat-RegularMedium';
	margin: 50px 0 10px 50px;
	padding-top: 20px;
}
h2{
	font-family: 'CroissantOne-Regular';
	margin: 10px 0 50px 50px;
	padding-bottom:10px;
	text-align: center;
	font-size: 25px;
}
.prenom{
	color:#FFC0CB;
}
.barre{
	height: 1px;
	width: 86px;
	visibility: visible;
	position: relative;
	background-color:#FFC0CB;
}
.contact{
	height: 150px;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}

